@import "variables";
@import "bootstrap/bootstrap";

@import "components/autocomplete";
@import "components/homepage";

* {
  box-sizing: border-box;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
  .nav-item {
    margin: 0 1rem;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.sign-up {
  padding: 3rem;
  .container {
    max-width: 35rem;
  }
}