<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body ng-app="excise">

    <nav class="navbar navbar-light bg-faded">
        <div class="container">
            <a class="navbar-brand" href="/">Exciser</a>
            <ul class="nav navbar-nav float-xs-right">
                <li class="nav-item">
                    <a class="nav-link" ui-sref="login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="signup">Create Account</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-2">
        <main ui-view=""></main>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.min.js"></script>
    <script src="/javascripts/client.js"></script>
</body>
</html>
