<div class="container">
    <h2 class="mt-2">{{ $ctrl.title }}</h2>

    <hr class="mb-2">

    <div class="card">
        <div class="card-block">
            <div class="row">
                <div class="col-lg-3 flex-items-xs-center">
                    <div class="btn btn-link pl-0">
                        <strong>Location Name</strong>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                        <input type="text" class="form-control" placeholder="December" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-dollar fa-fw"></i></span>
                        <input type="number" class="form-control" placeholder="Gross Sales">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="btn-group btn-group-flex">
                        <button class="btn btn-secondary" data-toggle="modal" data-target=".modal">View Details</button>

                        <button class="btn btn-primary">Save</button>
                    </div>
                    <div class="modal fade">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Location Name</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">


                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="">Filing For</label>
                                                <input type="number" class="form-control" placeholder="Month">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="">Gross Alcohol Sales</label>
                                                <input type="number" class="form-control" placeholder="Gross Sales">
                                            </div>
                                        </div>
                                    </div>
                                    <hr>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="">Total Taxes</label>
                                                <input type="number" class="form-control" placeholder="0.00">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="">Interest</label>
                                                <input type="number" class="form-control" placeholder="0.00">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="">Vendor Compensation</label>
                                                <input type="number" class="form-control" placeholder="0.00">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="">Penalty</label>
                                                <input type="number" class="form-control" placeholder="0.00">
                                            </div>
                                        </div>
                                    </div>



                                    <hr>
                                    <div class="text-muted">Total Due</div>
                                    <h5>$2000.00</h5>


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary float-sm-left">Save changes</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    <br><br><br><br><br><br><br><br><br><br>
    <div class="row">

        <div class="col-md-4">
            <div class="card">
                <div class="card-block">
                    <div class="card-title"><h5>Location 1</h5></div>
                    <address>
                        Address Line 1 <br>
                        Address Line 2 <br>
                        <span class="text-muted">404-333-444</span>
                    </address>
                    <hr>
                    <div class="form-inline">
                        <label for="userLocation-1">Gross Alcohol Sales</label>
                        <input type="number" id="userLocation-1" class="form-control" placeholder="Total">
                        <button class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <hr>
    <button class="btn btn-success btn-lg">Pay Now</button>
</div>

